.container
  - if @embeds.blank?
    = render partial: 'none_found', locals: {object_not_found: (link_to "@#{@twitter_id}", "https://twitter.com/#{@twitter_id}")}
  - else
    = render partial: 'tweet_list', locals: {object_title: (link_to "@#{@twitter_id}", "https://twitter.com/#{@twitter_id}")}
