!!!
%html
  %head
    %meta{:name => "viewport", :content => "width=device-width, initial-scale=1.0, user-scalable=no"}
    %meta{name: "twitter:widgets:csp", content: "on"}
    %title= content_for?(:title) ? yield(:title) : 'Above Water'
    %meta{:name => "description", :content => "#{content_for?(:description) ? yield(:description) : 'Above Water'}"}
    = stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track' => true
    = javascript_include_tag 'application', 'data-turbolinks-track' => true
    = csrf_meta_tags
  %body
    .row.header
      .header-group.center-block
        .header-item
          = image_tag('p-logo.png', {class: 'periscope-logo'})
        .header-item
          .title Above Water
    %main{:role => "main"}
      = render 'layouts/messages'
      = yield
    %footer.footer
      = image_tag('tw-logo.png', {class: 'twitter-logo'})
      %p.copyright &copy; 2015 Twitter, Inc.
